header{
    color: white;
    background-color: blue;
    width: 100%;
    text-align: center;
}
nav {
    text-align: center;
    color: black;
    background-color: orange;
    height: 50px;
    line-height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');


#ContenedorVD {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#TituloVD{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.videojuego{
    width: 30%;
    border-color: orange;
    border-style: dotted;
    border-radius: 5px;
    margin: 10px;
}
#imgVD{
    width: 100%;
}
#BotonVD{
    background-color: orange;
    align-self: flex-end;
    border-radius: 5px;
    float: right;
    margin-bottom: 0%;
}
a{
    text-decoration: none;
    color: black;
}
.VD{
    width: 100%;
}
#noticias{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-align: center;
}
#contenedorNT {
    display: flex;
    flex-direction: row;
    width: 75%;
    flex-wrap: wrap;
    float: right;
}
.noticia{
    width: 40%;
    border-color: lightskyblue;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    color:black
}
.noticiatitulo{
    color: orange;
}
.imgNT{
    width: 100%;
    top: -10%;
}
.BotonNT{
    position: absolute;
    margin-top: 1%;
    margin-left: 25%;
    background-color: orange;
    border-radius: 5px;
}
hr{
    background-color: orange;
    height: 3px;
}
#asideTR{
    float: left;
    width: 20%;
    border-color: lightskyblue;
    border-style: solid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


#tituloTR{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.trucotitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
#tituloRK{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-top: 50%;
    text-align: center;
}
#contenedorRK{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.jugador{
    padding-right: 10%;
    width: 20px;
    text-align: center;
}
.imgRK{
    border-radius: 50%;
}
footer{
    display: flex;
    justify-content: space-between;
        background-color: bisque;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sectorAFT{
    display: flex;
}
.textoFT{
    margin-left: 10%;
}
#sectorBFT{
    align-self: flex-end;
}

#contenedorTitulos {
    text-align: center;
}

.contenidoPVD{
    display: flex;
    flex-direction: column;
}
.texto {
    position: relative;
    width: 60%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tituloPVD {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;
}

#contenedorTituloPVD {
    margin-top: 100px; /* Ajusta según sea necesario */
    position: relative;
}

#asidePVD {
    width: 20%;
    border-color: lightskyblue;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 0;
}