#contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloque{
    height: 250px;
    width: 250px;
    margin-right: 10%;
    margin-top: 30%;
    background-color: gray;
    align-self: flex-end;
}
#bloque3{
    height: 250px;
    width: 250px;
    margin-right: 10%;
    background-color: gray;
}